
@import "./../_custom-variable.styl"

.stafflist {

    flexbox(row, center, flex-start)
    margin: 150px 0;
    flex-wrap: wrap

    .card {

        width: 100%
        max-width: 510px;
        background-color: white;
        padding: 15px;
        box-shadow: -20px 20px 100px rgba(20%,20%,40%,0.5);
        box-sizing: border-box;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;

        .title {
            font-size: 24px;
            color: #009A79;
            margin: 15px 15px 15px 0
        }

        .content {

            .person {


                display: inline-block;
                width: 120px;
                // height: 150px;
                margin-bottom: 15px;

                .person--wrapper {
                    flexbox(column, flex-start, center)
                    .photo {

                        display: none;
                        width: 100px;
                        height: 100px;
                        margin-bottom: 15px;
                    }

                    .name {
                        font-size: 16px
                    }
                }
            }
        }

    }
}
