
@import "./../_custom-variable.styl"

.transport--way {

    flexbox(row, center, flex-start)
    margin-bottom: 150px

    .card {

        position: relative;
        min-height: 360px;
        width: 480px;
        background-color: white;
        padding: 25px;
        box-shadow: -20px 20px 100px rgba(20%,20%,40%,0.5);
        box-sizing: border-box;

        margin-right: 50px;

        .title {
            font-size: 24px;
            color: #009A79;
            margin: 15px 15px 15px 0
        }

        .content {
            font-size: 16px
            line-height: 38px
        }

        .M {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 96px;
            height: 96px;
            flexbox(row, center, center);

            img {
                width: 100%;
                height: auto;
            }
        }

        @media only screen and (max-width: $mobile-screen-width) {

            display: block;
            width: auto;
            margin: 15px;

        }

    }
    @media only screen and (max-width: $mobile-screen-width) {

        flexbox(column, flex-start, flex-start)
    }

}
