@import "./../_custom-variable.styl"

.content--wrapper {
    .subPage {
        .mobile {
            &.subpage--title {
                flexbox(column, flex-end, center)
                height: calc(75px + 50px)

                .date--picker {
                    width: 100%
                    height: 50px
                    flexbox(row, flex-start, center)

                    div {
                        box-sizing: border-box
                        width: 50%
                        height: 100%
                        cursor: pointer
                        font-family: 'Noto Sans', serif
                        color: $navbar-text-hover
                        flexbox(row, center, center)
                        border-bottom: 5px solid transparent

                        &.active {
                            border-bottom: 5px solid $navbar-text-hover
                        }
                    }
                }
            }
        }
    }

    main {
        padding-top: 125px
    }
}

.schedule--wrapper {

    .schedule--date {
        display: inline-block
        color: white
        font-size: 40px
        line-height: 40px
        background: black
        padding: 4px 0 8px 18px
    }

    .schedule--eachday {
        margin-bottom: 110px

        .eachday--period {
            padding-bottom: 30px
            border-bottom: 1px solid #B8D2CF
            flexbox(row, flex-start, flex-start)

            .list--time {
                font-size: 20px
                letter-spacing: 1px
                padding-top: 15px
                color: $navbar-text-hover
                width: 100px
            }

            .period--list--wrapper {
                width: calc(100% - 100px)

                .period--list {
                    cursor: pointer
                    padding-top: 15px

                    .list--community {
                      font-size: x-small;
                      margin-bottom: -.5em;
                      color: #009a79;
                    }

                    .list--title {
                        font-size: 24px
                        color: black
                    }

                    .list--info {
                        font-size: 18px
                        color: #9B9B9B
                    }

                    .list--content {
                        background: #ECF5F4
                        // width: 100%
                        padding: 30px
                        border-radius: 5px
                        display: none

                        .content--author {
                            padding: 25px 0
                            border-bottom: 1px solid #E9E9E9
                            flexbox(row, flex-start, center)

                            .author--avatar {
                                width: 55px
                                height: 55px
                                min-width: 55px
                                min-height: 55px
                                max-width: 85px
                                max-height: 85px
                                overflow: hidden
                                border-radius: 50%
                                border: 3px solid $navbar-text-hover

                                background-position: center
                                background-repeat: no-repeat
                                background-size: cover

                                img {
                                    width: 100%
                                    height: auto
                                }
                            }

                            .author--mention {
                                width: calc(100% - 110px)
                                border-radius: 5px
                                background: rgba(white, 1)
                                margin-left: 20px
                                padding: 6px 20px
                                position: relative

                                &:before {
                                    content: ''
                                    width: 15px
                                    height: 15px
                                    background: rgba(white, 1)
                                    position: absolute;
                                    top: calc(50% - 5px)
                                    left: -7.5px
                                    border-radius: 1px
                                    transform: rotate(135deg)
                                }

                                p {
                                    white-space: pre-line
                                }
                            }
                        }

                        .content--mention {
                            margin-top: 10px
                            font-size: 14px
                            line-height: 23px
                            white-space: pre-line
                        }
                    }

                    &.active {
                        .list--title,
                        .list--info {
                            color: $navbar-text-hover
                        }

                        .list--content {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: $mobile-screen-width) {

        display: none;

        .schedule--date {
            display: none
        }

        .schedule--eachday {
            background: white

            .eachday--period {
                padding: 0px
                border: none
                flexbox(column, flex-start, flex-start)

                .list--time {
                    width: 100%
                    background: #ECF5F4
                    padding: 10px
                    flexbox(row, flex-start, center)
                }

                .period--list--wrapper {
                    width: 100%

                    .period--list {
                        padding: 10px 20px
                        border-bottom: 1px solid #E9E9E9

                        .list--title {
                            font-size: 15px
                            color: black
                        }

                        .list--info {
                            font-size: 12px
                            color: #9B9B9B
                        }

                        .list--content {
                            display: none
                        }
                    }
                }
            }
        }

        &.active {
            display: block;
        }
    }
}

.sticky--nav {
    position: fixed
    top: 55px
    width: 100%
    height: 0px
    padding: 0px
    color: white
    display: block
    font-size: 24px
    background: #444
    transition all 0.4s ease
    visibility: hidden
    z-index: 100
    flexbox(row, flex-start, center)

    &.active {
        height: 40px
        padding: 10px 64px
        visibility: visible
        transition all 0.4s ease

        div {
            width: 100%
            max-width: 1200px
            margin: 0 auto
        }
    }

    &.mobile {
        color: $navbar-text-hover
        background: #ECF5F4
        padding: 7px 10px 5px
        top: 125px
        font-size: 20px
    }
}

@@keyframes stickyShow {
    0% {
        height: 0px
    }

    100% {
        height: 50px
    }
}

.days {
    margin-bottom: 1em;
    font-size: 1.3em;
    a {
        display: inline-block;
        text-decoration: none;
        border: none;
        line-height: auto;
        color: inherit;
    }
    .active {
        color: #009a79;
        border-bottom: 5px solid;
    }
    @media only screen and (max-width: 719px) {
        position: fixed;
        top: 0;
        width: 100%;
        background: linear-gradient(-315deg, #f9fea5, #20e2d7);
        display: flex;
        z-index: 999;
        a {
            height: 64px;
            flex: 1 0 auto;
            text-align: center;
            line-height: 64px;
        }
    }
    @media only screen and (min-width: 720px) {
        text-align: right;
        a {
            color: #b8d2cf;
            padding: .5em;
        }
    }
    @media only screen and (min-width: 1000px) {
        margin: 0 -32px 1em;
        font-size: 3em;
        position: static;
        a {
            margin-right: .5em;
        }
    }
}

.locations {
    display: none;
    list-style: none;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 65px;
    contain: layout;
    background-color: rgba(255, 255, 255, .8);
    z-index: 9;
    margin: 0 -32px;
    li {
        flex: 1 0 auto;
        font-size: smaller;
        color: rgba(0, 0, 0, .4);
    }
    strong {
        display: block;
        font-size: 2em;
        margin: -.3em 0 .5em;
        color: rgba(0, 0, 0, .7);
    }
    @media only screen and (min-width: 1000px) {
        display: flex;
    }
}

.sessions {
    list-style: none;
    display: grid;
    grid-template-rows: var(--list);
    li {
        a {
            display: block;
            height: 100%;
            contain: layout;
            color: inherit;
        }
        @media only screen and (min-width: 1000px) {
            position: relative;
            article {
                position: sticky;
                position: -webkit-sticky;
                top: 130px;
            }
        }
    }
    @media only screen and (max-width: 719px) {
        margin-top: -56px;
    }
    @media only screen and (min-width: 720px) {
        grid-template-columns: 120px auto;
        grid-column: 2;
    }
    @media only screen and (min-width: 1000px) {
        grid-template-rows: var(--table);
        grid-template-areas: "room101 room201 room202 room303 room305 room306 room307 room403"
        grid-column: var(--room);
        grid-gap: 0 .5em;
        grid-template-columns: repeat(8, calc((100% - 7 * 0.5em) / 8));
        margin: 0 -32px;
    }
}

.session {
    padding: .5em;
    h4 {
        font-weight: normal;
        margin: 0;
        word-break: break-word;
        font-size: 16px;
    }
    .track {
        color: #009a79;
    }
    footer {
        position: relative;
    }
    .period {
        opacity: .8;
        display: none;
    }
    .length {
        &::before, &::after {
            content: ' - ';
        }
    }
    @media only screen and (max-width: 719px) {
        border-bottom: 1px solid #e9e9e9;
        padding: 1em;
    }
    @media only screen and (min-width: 720px) {
        grid-column: 2;
        margin-bottom: 1em;
        h4 {
            font-size: 24px;
        }
    }
    @media only screen and (min-width: 1000px) {
        grid-column: var(--room);
        grid-row-start: var(--start);
        grid-row-end: var(--end);
        border: 1px dashed rgba(0, 0, 0, .4);
        border-radius: 5px;
        h4 {
            font-size: large;
        }
        .period {
            display: block;
        }
        .track {
            font-size: smaller;
        }
        .length, .location, .language {
            display: none;
        }
    }
}

.time {
    font-size: 20px;
    color: #009a79;
    background-color: #ecf5f4;
    padding: .5em;
    position: sticky;
    position: -webkit-sticky;
    top: 69px;
    z-index: 9;
    @media only screen and (min-width: 720px) {
        margin: 0 -64px;
        padding: .5em 64px;
        border-top: 1px solid #b8d2cf;
        grid-column: 1 / span 2;
        top: 64px;
    }
    @media only screen and (min-width: 1000px) {
        display: none;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .9);
    z-index: 999;
    padding-top: 3em;
    .close {
        position: absolute;
        right: .2em;
        top: .2em;
        cursor: pointer;
        font-size: 3em;
        font-weight: bolder;
        pointer-events: none;
    }
    article {
        background-color: #ecf5f4;
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
        max-width: 1000px;
        padding: 2em;
        border-radius: 5px;
        max-height: calc(100vh - 4em);
        overflow: auto;
    }
    h4 {
        font-size: 2em;
        line-height: 1.3em;
        margin: .3em 0;
    }
    p {
        margin: 2em 0;
    }
    .location, .period, .language {
        font-weight: bold;
    }
    .period {
        margin: 0 .5em;
    }
    .track {
        text-align: right;
        color: #009a79;
    }
}

.speaker {
    img {
        display: block;
        margin: 0 auto;
        width: 96px;
        height: 96px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid #009a79;
        grid-row: 1 / span 2;
        align-self: center;
    }
    strong, p {
        grid-column: 2;
    }
    strong {
        display: block;
        text-align: center;
        grid-row: 1;
        font-size: larger;
        padding: .5em;
    }
    p {
        grid-row: 2;
        padding: 1em;
        margin: 0;
        word-break: break-word;
        background-color: #fff;
        border-radius: .5em;
    }
    &::before, &::after {
        content: ' '
        background-color: #fff;
        grid-column: 2;
        grid-row: 1 / span 3;
    }
    &::before {
        border-radius: .5em;
    }
    &::after {
        width: 16px;
        height: 16px;
        margin-left: -8px;
        transform: rotate(45deg);
        align-self: center;
    }
    @media only screen and (min-width: 720px) {
        display: grid;
        grid-template-columns: 120px 1fr;
        grid-template-rows: auto 1fr;
        img {
            margin: 0;
        }
        strong {
            text-align: left;
            padding: 1em 1em 0;
        }
    }
}
