@import "./../_custom-variable.styl"

.content--wrapper {
    .subPage {
        .mobile {
            &.subpage--title {
                flexbox(column, flex-end, center)
                height: calc(75px + 50px)

                .date--picker {
                    width: 100%
                    height: 50px
                    flexbox(row, flex-start, center)

                    div {
                        box-sizing: border-box
                        width: 50%
                        height: 100%
                        cursor: pointer
                        font-family: 'Noto Sans', serif
                        color: $navbar-text-hover
                        flexbox(row, center, center)
                        border-bottom: 5px solid transparent

                        &.active {
                            border-bottom: 5px solid $navbar-text-hover
                        }
                    }
                }
            }
        }
    }

    main {
        padding-top: 125px
    }
}

.schedule--wrapper {

    .schedule--date {
        display: inline-block
        color: white
        font-size: 40px
        line-height: 40px
        background: black
        padding: 4px 0 8px 18px
    }

    .schedule--eachday {
        margin-bottom: 110px

        .eachday--period {
            padding-bottom: 30px
            border-bottom: 1px solid #B8D2CF
            flexbox(row, flex-start, flex-start)

            .list--time {
                font-size: 20px
                letter-spacing: 1px
                padding-top: 15px
                color: $navbar-text-hover
                width: 100px
            }

            .period--list--wrapper {
                width: calc(100% - 100px)

                .period--list {
                    cursor: pointer
                    padding-top: 15px

                    .list--community {
                      font-size: x-small;
                      margin-bottom: -.5em;
                      color: #009a79;
                    }

                    .list--title {
                        font-size: 24px
                        color: black
                    }

                    .list--info {
                        font-size: 18px
                        color: #9B9B9B
                    }

                    .list--content {
                        background: #ECF5F4
                        // width: 100%
                        padding: 30px
                        border-radius: 5px
                        display: none

                        .content--author {
                            padding: 25px 0
                            border-bottom: 1px solid #E9E9E9
                            flexbox(row, flex-start, center)

                            .author--avatar {
                                width: 55px
                                height: 55px
                                min-width: 55px
                                min-height: 55px
                                max-width: 85px
                                max-height: 85px
                                overflow: hidden
                                border-radius: 50%
                                border: 3px solid $navbar-text-hover

                                background-position: center
                                background-repeat: no-repeat
                                background-size: cover

                                img {
                                    width: 100%
                                    height: auto
                                }
                            }

                            .author--mention {
                                width: calc(100% - 110px)
                                border-radius: 5px
                                background: rgba(white, 1)
                                margin-left: 20px
                                padding: 6px 20px
                                position: relative

                                &:before {
                                    content: ''
                                    width: 15px
                                    height: 15px
                                    background: rgba(white, 1)
                                    position: absolute;
                                    top: calc(50% - 5px)
                                    left: -7.5px
                                    border-radius: 1px
                                    transform: rotate(135deg)
                                }

                                p {
                                    white-space: pre-line
                                }
                            }
                        }

                        .content--mention {
                            margin-top: 10px
                            font-size: 14px
                            line-height: 23px
                            white-space: pre-line
                        }
                    }

                    &.active {
                        .list--title,
                        .list--info {
                            color: $navbar-text-hover
                        }

                        .list--content {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: $mobile-screen-width) {

        display: none;

        .schedule--date {
            display: none
        }

        .schedule--eachday {
            background: white

            .eachday--period {
                padding: 0px
                border: none
                flexbox(column, flex-start, flex-start)

                .list--time {
                    width: 100%
                    background: #ECF5F4
                    padding: 10px
                    flexbox(row, flex-start, center)
                }

                .period--list--wrapper {
                    width: 100%

                    .period--list {
                        padding: 10px 20px
                        border-bottom: 1px solid #E9E9E9

                        .list--title {
                            font-size: 15px
                            color: black
                        }

                        .list--info {
                            font-size: 12px
                            color: #9B9B9B
                        }

                        .list--content {
                            display: none
                        }
                    }
                }
            }
        }

        &.active {
            display: block;
        }
    }
}

.sticky--nav {
    position: fixed
    top: 55px
    width: 100%
    height: 0px
    padding: 0px
    color: white
    display: block
    font-size: 24px
    background: #444
    transition all 0.4s ease
    visibility: hidden
    z-index: 100
    flexbox(row, flex-start, center)

    &.active {
        height: 40px
        padding: 10px 64px
        visibility: visible
        transition all 0.4s ease

        div {
            width: 100%
            max-width: 1200px
            margin: 0 auto
        }
    }

    &.mobile {
        color: $navbar-text-hover
        background: #ECF5F4
        padding: 7px 10px 5px
        top: 125px
        font-size: 20px
    }
}

@@keyframes stickyShow {
    0% {
        height: 0px
    }

    100% {
        height: 50px
    }
}

.locations {
    display: flex;
    list-style: none;
    text-align: center;
    li {
        flex: 1 0 auto;
        font-size: smaller;
        color: rgba(0, 0, 0, .4);
    }
    strong {
        display: block;
        font-size: 2em;
        margin: -.3em 0 .5em;
        color: rgba(0, 0, 0, .7);
    }
}

.sessions {
    display: grid;
    list-style: none;
    grid-template-areas: "room101 room201 room202 room303 room305 room306 room307 room403"
    grid-gap: 0 .5em;
    grid-template-columns: repeat(8, calc((100% - 7 * 0.5em) / 8));
    li {
        border: 1px dashed rgba(0, 0, 0, .4);
        border-radius: 5px;
        padding: .5em;
    }
    h4 {
        font-weight: normal;
        word-break: break-word;
    }
}
