// global
$mobile-screen-width = 720px
$title-Big-Caslon = 'Big Caslon'

// navbar border
$navbar-logo-border = #E9E9E9
$navbar-box-shadow = rgba(216, 216, 216, 0.50)
$navbar-text-noactive = #9B9B9B
$navbar-text-active = #000000
$navbar-text-hover = #009A79

$navbar-text-font-primary = 14px
$navbar-text-font-button = 18px
$navbar-button-shadow = #848484

// subpage
$subpage-title-ch = 28px
$subpage-title-en = 50px

// flexbox function
flexbox($type, $a, $b)
    display: flex
    flex-direction: $type
    justify-content: $a
    align-items: $b
