@import "./_custom-variable.styl"
@import "./general/PopOutMenu.styl"
@import url('https://fonts.googleapis.com/css?family=Abel|Advent+Pro|Cantata+One|Noto+Sans')
// blur effect in /gerneral/popOutMenu

body {
    padding: 0
    margin: 0
    box-sizing: content-box
    min-height: 200vh
    height: auto
    font-family: 'Cantata One', serif
    // background-image: linear-gradient(60deg, rgba(#abecd6, 1) 0%, rgba(#fbed96, 0.25) 100%);
    // background-image: linear-gradient(60deg, rgba(#abecd6, 1) 0%, rgba(white, 0.25) 100%);

    #app {
        width: 100%
        height: 100%
    }

    ul {
        padding: 0
        margin: 0
    }

    li {
        
        text-decoration: none

        a {
            text-decoration: none
        }
    }
    .mainPage {
        &.blur-in {
            animation: blur 0.35s forwards;
        }
    }
    .content--wrapper {
        z-index: 1
        min-height: 200vh
        width: calc(100% - 100px)
        height: calc(100% - 100px)
        flexbox(column, flex-start, center)
        // background: radial-gradient(rgba(white, 1) 0%, rgba(white, 0) 100%)

        &.blur-in {
            z-index: 9999;
            // animation: blur 2s forwards;
        }
    }

    .navbar {
        &.blur-in {
            animation: blur 2s forwards;
        }
    }

    .subpage--banner--wrapper {
        &.blur-in {
            animation: blur 2s forwards;
        }
    }
    @media only screen and (max-width: $mobile-screen-width) {

        .content--wrapper {

            width: calc(100%)
            height: calc(100%)
        }
    }
}
