body {
    padding: 0
    margin: 0
    box-sizing: content-box
    height: 5000px
    background-image: linear-gradient(60deg, rgba(#abecd6, 1) 0%, rgba(#fbed96, 0.25) 100%);
    // background: white

    ul {
        padding: 0
        margin: 0
    }

}
