body {
    padding: 0
    margin: 0
    box-sizing: content-box
    height: 5000px
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);

    ul {
        padding: 0
        margin: 0
    }

}
