@import "./../_custom-variable.styl"

.banner {
    width: 100vw
    height: 100vh
    z-index: 0
    // border: 10px solid $navbar-text-hover
    position: absolute
    top: 0
    left: 0
    // Preview of the tutorial by Patryk Zabielski
    // www.dribbble.com/zabielski | www.patrykzabielski.com
    // Tutorial: https://medium.com/@PatrykZabielski/how-to-make-multi-layered-parallax-illustration-with-css-javascript-2b56883c3f27

    $bronze: #fff;
    $white: #fff;
    $heroHeight: 800px;
    $black: #50514F;

    #hero {
        height: $heroHeight;
        overflow: hidden;
        position: relative;
    }
    #content {
        max-width: 720px;
        padding: 0 100px;
        margin-top: -600px;
        background-color: transparent;
    }
    .layer {
        background-position: bottom center;
        background-size: auto;
        background-repeat: no-repeat;
        width: 100%;
        height: $heroHeight;
        position: absolute;
        z-index: -1;
    }

    #hero-mobile {
        width: 100%
        height: 700px
        display: none;
        img {
            width: 100%
            height: auto
        }
    }

    .first-section {
        padding: 50px 0 20px 0;
    }
    .text-header {
        font-size: 50px;
        text-align: center;
    }
    h1 {
        color: $black;
        line-height: 120%;
        font-size: 36px;
        margin-bottom: 30px;
    }
    p {
        color: $black;
        font-size: 20px;
        line-height: 150%;
    }

    #hero, .layer {
        min-height: 800px;
    }

    .layer-bg {
        // background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('./../../static/bg.png');
    }
    .layer-1 {
        // background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_03.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('./../../static/bg-inner.png');
        // background-position: left bottom;
        }
    .layer-2 {
        background-image: url('./../../static/dot.png');
        background-size: cover;
        background-repeat: no-repeat;
        // background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_02.png');
    }
    .layer-3 {
        background-image: url('./../../static/circle.png');
        background-size: cover;
        background-repeat: no-repeat;
        // background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_man.png');
            // background-position: right bottom;
        }
    .layer-4 {
        // background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png');
        }
    .layer-overlay {
        // background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png');
        }


    // Media Queries
    @media only screen and (max-width: $mobile-screen-width) {
        #hero {
            display: none;
        }
        #hero-mobile {
            display: block;
        }
    }

    // Media Queries
    @media only screen and (max-width: $mobile-screen-width) {
        height: auto;
        // display: none;
    }
}
