@import "./../_custom-variable.styl"

#home::before, #home::after, #home > header::before, #home > header::after {
    content: ' ';
    display: block;
    position: fixed;
    transform-origin: 0 0;
    transform: rotate(40deg);
    z-index: -2;
    width: 1400px;
    height: 1400px;
    opacity: .4;
    left: 50vw;
    will-change: transform;
}
#home::before {
    background-image: linear-gradient(to bottom, #D1FDFF, #FDDB92);
    height: 1840px;
    transform: rotate(40deg) translate(-68px, -1136px);
    transform: rotate(40deg) translate(calc(-68px - var(--scroll) * .8), calc(-1136px - var(--scroll) * .8));
}
#home::after {
    background-image: linear-gradient(to bottom, #20E2D7, #F9FEA5);
    width: 1680px;
    opacity: 1;
    transform: rotate(40deg) translate(-1220px, -404px);
    transform: rotate(40deg) translate(calc(-1220px - var(--scroll)), calc(-404px - var(--scroll)));
}
#home > header::before {
    width: 1440px;
    height: 2345px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
    opacity: .8;
    z-index: -1;
    transform: rotate(40deg) translate(-40px, -1539px);
    transform: rotate(40deg) translate(calc(-40px - var(--scroll) * 1.5), calc(-1539px - var(--scroll) * 1.5));
}
#home > header::after {
    width: 1250px;
    height: 1250px;
    background-image: url('./../../static/background.jpg');
    z-index: -1;
    transform: rotate(40deg) translate(-70px, -1000px);
    transform: rotate(40deg) translate(calc(-70px - var(--scroll) * 0.5), calc(-1000px - var(--scroll)));
}

.indexpage {
    width: 100%
    height: auto
    flexbox(column, flex-start, flex-start)

    .title--wrapper {
        min-height: 100vh
        box-sizing: border-box;
        .text--wrapper {
            color: $navbar-text-hover
            display: flex
            flex-direction: column
            align-items: center

            .title--main {
                font-family: $title-Big-Caslon
                font-size: 70px
                font-weight: 400
                line-height: 60px
            }
            .title--sub {
                font-size: 25px
                font-weight: bolder
                letter-spacing: 45px
                margin-right: -40px
            }

            .title--date {
                font-size: 38px
                letter-spacing: 10px
            }

            .title--place {
                font-size: 19px
                letter-spacing: 6px
            }

            &.mobile {
                display: none
            }

            &.desktop {
                flexbox(column, flex-start, flex-start)

                .title--sub {
                    font-size: 20px
                    letter-spacing: 5px
                    font-family: 'Noto Sans'
                    font-weight: 100
                }

                .title--date {
                    font-size: 29px
                    letter-spacing: 10px
                    font-family: 'Advent Pro'
                    line-height: 2em
                }

                .title--main {
                    font-size: 100px
                    font-weight: 400
                    line-height: 80px
                    font-family: 'Cantata One'
                    line-height: 1em
                }
            }

            .lang--selector--mobile {
                display: none
            }
        }

        .button--wrapper {
            margin-top: 70px
            flexbox(row, center, center)

            div {
                font-size: $navbar-text-font-button
                color: white
                padding: 10px
                margin: 15px
                width: 140px
                cursor: pointer
                text-align: center
                transition: all 0.35s ease
                background: $navbar-text-hover
                box-shadow: 0 50px 50px $shadow-color
                font-family: Abel
                text-transform: uppercase
                letter-spacing: .2em


                &:hover {

                    transition: all 0.25s ease
                    color: $navbar-text-hover
                    background: white
                    a {
                        color: $navbar-text-hover
                        text-decoration: none
                    }
                }

                a {
                    color: white
                    text-decoration: none
                }
            }
        }
    }

    .indexpage--content {
        flexbox(column, flex-start, center)

        .indexpage--section {

            width: 100%
            height: auto
            margin: 100px 0
            flexbox(column, flex-start, center)
            text-align: justify;

            .section--title {

                width: 100%
                flexbox(row, flex-start, flex-start)

                > div {
                    color: $navbar-logo-border
                    flexbox(row, flex-end, flex-end)

                    .title--en {
                        margin: 0
                        font-weight: 400
                        font-size: 147px
                        line-height: 100px
                        font-family: $title-Big-Caslon
                    }

                    .title--ch, div {
                        margin: 0
                        font-weight: 400
                        font-size: 56px
                        line-height: 46px
                    }

                }
            }

            .section--content {

                width: 100%
                flexbox(row, flex-end, flex-start)

                > div {

                    max-width: 80%
                    padding: 20px 70px

                }

            }

            &:nth-child(2) {

                & .section--title {

                    flexbox(row, flex-end, flex-start)

                    > div {

                        flexbox(row-reverse, flex-end, flex-end)
                    }
                }

                & .section--content {

                    flexbox(row, flex-start, flex-start)

                }
            }
        }
    }

    // Media Queries
    @media only screen and (min-width: 1024px) {
      .title--wrapper {
        padding-top: 250px
        padding-left: 250px
      }
    }
    @media only screen and (max-width: $mobile-screen-width) {

        .title--wrapper {
            top: 0;
            left: 0;
            margin: 0
            width: 100%
            height: 100vh
            min-height: 320px
            overflow: hidden
            flexbox(column, center, center)

            .button--wrapper {
                margin-top: 10px
                flexbox(column, center, center)

                div {
                    width: 90%
                    max-width: 240px
                    min-width: 240px
                }
            }

            .text--wrapper {
                &.desktop {
                    display: none
                }

                &.mobile {
                    display: block
                }

                .lang--selector--mobile {
                    position: absolute
                    top: 10px
                    right: 10px
                    width: 94px
                    height: 40px
                    flexbox(row, space-between, center)

                    div {
                        width: 40px
                        height: 40px
                        background: rgba(white, 0.6)
                        flexbox(row, center, center)

                        span {

                            color: $navbar-text-noactive
                            border-bottom: 2px solid transparent

                            &.active {
                                border-bottom: 2px solid $navbar-text-noactive
                            }
                        }
                    }
                }
            }
        }

        .indexpage--content {

            padding-top: 0px

            .indexpage--section {

                .section--title {

                    > div {

                        .title--en {
                            font-size: 50px
                            line-height: 50px
                        }

                        .title--ch, div {
                            font-size: 24px
                            line-height: 24px
                        }

                    }
                }

                .section--content {

                    width: 100%

                    > div {
                        width: 100%
                        max-width: 100%
                        padding: 20px

                    }

                }
            }
        }
    }
}
