@import "./../_custom-variable.styl"

.indexpage {
    width: 100vw
    height: auto
    flexbox(column, flex-start, flex-start)

    .title--wrapper {
        min-height: 300px
        flexbox(column, flex-start, flex-start)
        //margin: 100px 0 0 100px
        position: relative;
        top:250px
        left: 250px

        .text--wrapper {
            color: $navbar-text-hover
            display: flex
            flex-direction: column
            align-items: center

            .title--main {
                font-family: $title-Big-Caslon
                font-size: 70px
                font-weight: 400
                line-height: 60px
            }
            .title--sub {
                font-size: 25px
                font-weight: bolder
                letter-spacing: 45px
                margin-right: -40px
            }

            .title--date {
                font-size: 38px
                letter-spacing: 10px
            }

            .title--place {
                font-size: 19px
                letter-spacing: 6px
            }

            &.mobile {
                display: none
            }

            &.desktop {
                flexbox(column, flex-start, flex-start)

                .title--sub {
                    font-size: 20px
                    letter-spacing: 5px
                    font-family: 'Noto Sans'
                    font-weight: 100
                }

                .title--date {
                    font-size: 29px
                    letter-spacing: 10px
                    font-family: 'Advent Pro'
                    line-height: 2em
                }

                .title--main {
                    font-size: 100px
                    font-weight: 400
                    line-height: 80px
                    font-family: 'Cantata One'
                    line-height: 1em
                }
            }

            .lang--selector--mobile {
                display: none
            }
        }

        .button--wrapper {
            margin-top: 70px
            flexbox(row, center, center)

            div {
                font-size: $navbar-text-font-button
                color: white
                padding: 10px
                margin: 15px
                width: 140px
                cursor: pointer
                text-align: center
                transition: all 0.35s ease
                background: $navbar-text-hover
                box-shadow: 0 50px 50px $shadow-color
                font-family: Abel
                text-transform: uppercase
                letter-spacing: .2em


                &:hover {

                    transition: all 0.25s ease
                    color: $navbar-text-hover
                    background: white
                    a {
                        color: $navbar-text-hover
                        text-decoration: none
                    }
                }

                a {
                    color: white
                    text-decoration: none
                }
            }
        }
    }

    .indexpage--content {
        width: 100%
        height: auto
        padding-top: 50vh
        flexbox(column, flex-start, center)

        .indexpage--section {

            width: 100%
            height: auto
            margin: 100px
            flexbox(column, flex-start, center)

            .section--title {

                width: 100%
                flexbox(row, flex-start, flex-start)

                > div {
                    color: $navbar-logo-border
                    flexbox(row, flex-end, flex-end)

                    .title--en {
                        margin: 0
                        font-weight: 400
                        font-size: 147px
                        line-height: 100px
                        font-family: $title-Big-Caslon
                    }

                    .title--ch, div {
                        margin: 0
                        font-weight: 400
                        font-size: 56px
                        line-height: 46px
                    }

                }
            }

            .section--content {

                width: 100%
                flexbox(row, flex-end, flex-start)

                > div {

                    max-width: 80%
                    padding: 20px 70px

                }

            }

            &:nth-child(2) {

                & .section--title {

                    flexbox(row, flex-end, flex-start)

                    > div {

                        flexbox(row-reverse, flex-end, flex-end)
                    }
                }

                & .section--content {

                    flexbox(row, flex-start, flex-start)

                }
            }
        }
    }
    // Media Queries
    @media only screen and (max-width: $mobile-screen-width) {

        .title--wrapper {
            top: 0;
            left: 0;
            margin: 0
            width: 100%
            height: 100vh
            min-height: 320px
            overflow: hidden
            flexbox(column, center, center)

            .button--wrapper {
                margin-top: 10px
                flexbox(column, center, center)

                div {
                    width: 90%
                    max-width: 240px
                    min-width: 240px
                }
            }

            .text--wrapper {
                &.desktop {
                    display: none
                }

                &.mobile {
                    display: block
                }

                .lang--selector--mobile {
                    position: absolute
                    top: 10px
                    right: 10px
                    width: 94px
                    height: 40px
                    flexbox(row, space-between, center)

                    div {
                        width: 40px
                        height: 40px
                        background: rgba(white, 0.6)
                        flexbox(row, center, center)

                        span {

                            color: $navbar-text-noactive
                            border-bottom: 2px solid transparent

                            &.active {
                                border-bottom: 2px solid $navbar-text-noactive
                            }
                        }
                    }
                }
            }
        }

        .indexpage--content {

            padding-top: 0px

            .indexpage--section {

                .section--title {

                    > div {

                        .title--en {
                            font-size: 50px
                            line-height: 50px
                        }

                        .title--ch, div {
                            font-size: 24px
                            line-height: 24px
                        }

                    }
                }

                .section--content {

                    width: 100%

                    > div {
                        width: 100%
                        max-width: 100%
                        padding: 20px

                    }

                }
            }
        }
    }
}
