@import "./../_custom-variable.styl"

.navbar {
    contain: strict;
    width: 100%
    height: 65px
    position: fixed
    top: inherit
    bottom: 0
    z-index: 10
    box-shadow: 0 2px 16px $navbar-box-shadow
    flexbox(row, flex-start, center)
    background: white
    left: 0
    max-width: 100vw;
    .logo {

        height: 100%
        min-width: 70px
        width: 70px
        border-right: 1px solid $navbar-logo-border
        flexbox(row, center, center)

        img {

            width: 40px
            height: 40px
        }

    }

    ul {

        max-width: 800px
        height: 100%
        flexbox(row, flex-start, center)

        li {
            margin: 0 15px
            list-style: none
            letter-spacing: 1.05px
            transition: color 0.35s ease
            text-transform: uppercase
            color: $navbar-text-noactive
            font-size: $navbar-text-font-primary

            a {
                white-space: nowrap
                text-decoration: none
                color: inherit;
                &.active {

                    color: $navbar-text-hover

                }
            }

        }
    }

    .tag-selector {
      max-width: calc(100% - 70px);
      overflow-x: auto;
      padding: 0 .5em;
      li {
        margin: 0;
        padding: 0 1em;
        a {
          display: block;
        }
      }
      @media screen and (max-width: $mobile-screen-width) {
        &::after {
            content: ''
            position: absolute
            top: 0px
            right: 0px
            height: 100%
            width: 2em
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1))
        }
      }
      @media screen and (min-width: $mobile-screen-width) {
        max-width: 800px;
        flex-grow: 1;
        display: flex;
        margin-left: auto
        padding: 0;
        li {
          flex-grow: 1;
          text-align: center;
        }
      }
    }

    .lang-selector {

        max-width: 100px
        margin-left: auto;
        flexbox(row, center, center)
        border-left: 1px solid $navbar-logo-border

        li {

            padding: 5px 0 0
            border: 1px solid transparent
            cursor: pointer

            &.active {

                font-weight: bold
                color: $navbar-text-active
                border-bottom: 1px solid rgba(0, 0, 0, .8)
            }
        }

        @media screen and (max-width: $mobile-screen-width) {
          display: none
        }
    }

    @media screen and (min-width: $mobile-screen-width) {
      top: 0
      bottom: auto;
    }
}

.underfold .navbar.intro {
  @media screen and (min-width: $mobile-screen-width) {
    width: auto;
    transform: translate(0, calc(80vh - var(--scroll)));
    left: 0;
    left: calc(10vw - 10vw * var(--fold));
    right: 0;
    right: calc(10vw - 10vw * var(--fold));
  }
}
