
.general--sponsorlist {
    .general--subSponsorlist {
        margin-bottom: 15px;
        .title {
            color: #FFD200;
            font-size: 38px;
        }
        .sponsor {
            margin: 15px;
            &>a {
                display: inline-block;
                &>img {
                    height: 75px
                    width: 150px
                }
            }
        }
    }
}
