@import "./../_custom-variable.styl"

.subpage--title {
    margin-top: 70px
    flexbox(column, flex-start, center)

    .title--ch {
        line-height: 40px
        font-size: $subpage-title-ch
    }
    .title--en {

        line-height: 60px
        font-size: $subpage-title-en
    }
    span {
        width: 50px
        height: 3px
        margin: 10px 0
        background: black
    }
}
