@import "./../_custom-variable.styl"

.content--wrapper {
    > div.subPage {

        width: 100%
        height: 100%
        display: flex
        overflow: hidden
        flex-direction: column
        align-items: center

        .subpage--title {
            margin-top: 70px
            flexbox(column, flex-start, center)

            .title--ch {
                line-height: 40px
                font-size: $subpage-title-ch
            }
            .title--en {

                line-height: 60px
                font-size: $subpage-title-en
            }
            span {
                width: 50px
                height: 3px
                margin: 10px 0
                background: black
            }

            @media only screen and (max-width: $mobile-screen-width) {

                font-family: $title-Big-Caslon
                color: $navbar-logo-border
                flexbox(row-reverse, flex-start, flex-end)

                .title--en {

                    line-height: 50px
                }

                .title--ch {

                    margin: 0 5px
                }

                span {

                    display: none
                }
            }
        }

        @media only screen and (max-width: $mobile-screen-width) {

            align-items: flex-start
        }

    }
}
