@import "./../_custom-variable.styl"

.content--wrapper {

    .content--footer {

        margin: 30px 0;
        width: 100%;
        height: 150px

    .content--footer--social {
        margin: 20px 0;
        flexbox(row, center, center)

        a {

            color: #ffffff;
            width: 32px;
            height: 32px;
            margin: 0 16px;
            display: block;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

        .content--footer--history {

            div {

                display: inline-block;
                padding-left: 2px;
                padding-right: 2px;

                a {
                    color: #ffffff;
                }
            }


            div:after {

                color: #ffffff;
                content: ' |';
            }

            div:last-child:after {

                content: '';
            }

        }
    }
    div.subPage {

        width: 100%
        height: 100%
        display: flex
        overflow: hidden
        flex-direction: column
        align-items: center

        .mobile.subpage--title {
            margin-top: 0px
            background: linear-gradient(-315deg, #F9FEA5, #20E2D7)
            width: 100%
            height: 75px
            flexbox(column, flex-start, center)
            visibility: hidden;

            .title--text {
                line-height: 40px
                color: black
                font-size: $subpage-title-text
                text-transform: uppercase
            }

            @media only screen and (max-width: $mobile-screen-width) {

                font-family: $title-Big-Caslon
                color: $navbar-logo-border
                flexbox(column, center, center)
                visibility: visible;

            }
        }
        .desktop.subpage--title {
            width: 100%
            height: 150px
            text-align: center
            margin-top: 50px
            margin-bottom: 150px
            // transform: translateX(-30px);

            .title--text {
                line-height: 60px
                color: black
                font-size: 40px
                text-transform: uppercase
                text-align: center
                flexbox(column, center, center)
                .divider {
                    width: 50px
                    height: 5px
                    background-color: black
                }
            }
            @media only screen and (max-width: $mobile-screen-width) {
                visibility: hidden;

            }
        }

        @media only screen and (max-width: $mobile-screen-width) {

            align-items: flex-start
        }

    }
}
