<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>COSCUP 2017</title>
    </head>

    <body class="underfold" style="--scroll: 0px; --fold: 0">
        <div id="app">
        </div>
        <script>
        var last_known_scroll_position = 0;
        var ticking = false;

        window.addEventListener('scroll', function(e) {
          last_known_scroll_position = window.scrollY;
          if (!ticking) {
            window.requestAnimationFrame(function() {
              document.body.setAttribute("style",
                "--scroll: " + last_known_scroll_position + "px; " +
                "--fold: " + last_known_scroll_position / document.documentElement.clientHeight
              );
              document.body.classList.toggle("underfold", last_known_scroll_position < document.documentElement.clientHeight * 0.8);
              ticking = false;
            });
          }
          ticking = true;
        });
        </script>
    </body>


</html>
